In [1]:
import mysql.connector
from datetime import datetime
import pandas as pd

connect to the mysql database via mysql connector.

In [2]:
from pandas import DataFrame



mydb = mysql.connector.connect(
  host="dbikes.cpjpqgvjkdof.us-east-1.rds.amazonaws.com",    # your host, usually localhost
                     user="admin",         # your username
                     passwd="password",  # your password
                     db="dbikes",
                    port="3306"
)
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM availability")

myresult = mycursor.fetchall()

a1 = DataFrame(myresult,columns=['row','number', "bike_stands", 'available_bike_stands', "available_bikes", "last_update"])

a1.head()
# check what format the dataframe is in
mycursor.execute("SELECT * FROM availability")

myresult = mycursor.fetchall()
print(myresult[0])

(1, 42, 30, 20, 10, datetime.datetime(2021, 3, 17, 14, 43, 25))

Because the availability1 dataframe comes as a list it shall be converted into a dataframe

In [3]:
a1 = DataFrame(myresult,columns=['row','number', "bike_stands", 'available_bike_stands', "available_bikes", "last_update"])

a1.head()

,row,number,bike_stands,available_bike_stands,available_bikes,last_update
0,1,42,30,20,10,2021-03-17 14:43:25
1,2,30,20,17,3,2021-03-17 14:45:37
2,3,54,33,18,15,2021-03-17 14:37:56
3,4,108,40,25,15,2021-03-17 14:45:12
4,5,56,40,30,10,2021-03-17 14:46:31

In [4]:
a1.shape

(203285, 6)

repeat this process for all the dataframes

In [5]:
mycursor.execute("SELECT * FROM availability2")
myresult = mycursor.fetchall()
a2 = DataFrame(myresult,columns=['row','number', "bike_stands", 'available_bike_stands', "available_bikes", "last_update"])

a2.head()

,row,number,bike_stands,available_bike_stands,available_bikes,last_update
0,1,42,30,16,14,2021-03-22 11:58:45
1,2,30,20,17,3,2021-03-22 11:50:39
2,3,54,33,22,11,2021-03-22 11:58:23
3,4,108,40,25,15,2021-03-22 11:57:01
4,5,56,40,39,1,2021-03-22 11:58:24

In [6]:
a2.shape

(1269323, 6)

In [7]:
mycursor.execute("SELECT * FROM stations")
myresult = mycursor.fetchall()
s = DataFrame(myresult,columns=["number", "name", 'address', "pos_lat", "pos_lng", "bike_stands", "available_bike_stands", "available_bikes", "last_update"])

s.head()

,number,name,address,pos_lat,pos_lng,bike_stands,available_bike_stands,available_bikes,last_update
0,2,BLESSINGTON STREET,Blessington Street,53.3568,-6.26814,20,5,15,2021-03-16 13:05:45
1,3,BOLTON STREET,Bolton Street,53.3512,-6.26986,20,13,7,2021-03-16 13:03:05
2,4,GREEK STREET,Greek Street,53.3469,-6.27298,20,12,8,2021-03-16 13:00:54
3,5,CHARLEMONT PLACE,Charlemont Street,53.3307,-6.26018,40,31,9,2021-03-16 13:09:23
4,6,CHRISTCHURCH PLACE,Christchurch Place,53.3434,-6.27012,20,13,7,2021-03-16 13:07:12

In [8]:
s.shape

(109, 9)

In [9]:
mycursor.execute("SELECT * FROM weather")
myresult = mycursor.fetchall()
w = DataFrame(myresult,columns=["row", "main", 'temp', "temp_min", "temp_max", "pressure", "humidity", "wind_speed", "wind_direction", "cloudiness", "last_update"])

w.head()

,row,main,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_direction,cloudiness,last_update
0,1,Clouds,13.83,10.56,15.00,1018.0,76.0,3.09,120.0,75.0,2021-03-31 14:14:01
1,2,Clouds,13.83,10.56,15.00,1018.0,76.0,3.09,120.0,75.0,2021-03-31 14:14:01
2,3,Clouds,14.08,13.33,15.00,1018.0,72.0,3.09,90.0,75.0,2021-03-31 14:31:26
3,4,Clouds,13.99,13.33,14.44,1018.0,72.0,3.09,90.0,75.0,2021-03-31 14:35:18
4,5,Clouds,14.04,13.33,15.00,1018.0,72.0,3.09,100.0,75.0,2021-03-31 14:42:43

In [10]:
w.shape

(3659, 11)

In [11]:
a1a2 = a1.append(a2, ignore_index = True)

In [12]:
a1a2.shape

(1472608, 6)

In [13]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

round the seconds and minutes of the last update column into hours for practicalities sake

In [14]:
a1a2 = a1a2.drop(columns = ["row"])

In [15]:
a1a2 = a1a2.dropna()

In [16]:
a1a2

,number,bike_stands,available_bike_stands,available_bikes,last_update
0,42,30,20,10,2021-03-17 14:43:25
1,30,20,17,3,2021-03-17 14:45:37
2,54,33,18,15,2021-03-17 14:37:56
3,108,40,25,15,2021-03-17 14:45:12
4,56,40,30,10,2021-03-17 14:46:31
...,...,...,...,...,...
1472603,39,20,8,12,2021-04-15 20:25:44
1472604,83,40,21,19,2021-04-15 20:24:44
1472605,92,40,38,2,2021-04-15 20:25:10
1472606,21,30,19,11,2021-04-15 20:16:27
1472607,88,30,16,14,2021-04-15 20:20:01

In [17]:
a1a2["month"] = list(map(lambda v : v.month, a1a2['last_update']))
a1a2['day'] = list(map(lambda v : v.day, a1a2['last_update']))
a1a2['hour'] = list(map(lambda v : v.hour, a1a2['last_update']))

In [18]:
a1a2

,number,bike_stands,available_bike_stands,available_bikes,last_update,month,day,hour
0,42,30,20,10,2021-03-17 14:43:25,3,17,14
1,30,20,17,3,2021-03-17 14:45:37,3,17,14
2,54,33,18,15,2021-03-17 14:37:56,3,17,14
3,108,40,25,15,2021-03-17 14:45:12,3,17,14
4,56,40,30,10,2021-03-17 14:46:31,3,17,14
...,...,...,...,...,...,...,...,...
1472603,39,20,8,12,2021-04-15 20:25:44,4,15,20
1472604,83,40,21,19,2021-04-15 20:24:44,4,15,20
1472605,92,40,38,2,2021-04-15 20:25:10,4,15,20
1472606,21,30,19,11,2021-04-15 20:16:27,4,15,20
1472607,88,30,16,14,2021-04-15 20:20:01,4,15,20

In [19]:
a1a2 = a1a2.drop(columns = ["last_update", "available_bike_stands", "bike_stands"])

In [20]:
from sklearn.linear_model import LinearRegression
X = a1a2.drop(columns = ["available_bikes"])
y = a1a2["available_bikes"]
reg = LinearRegression().fit(X, y)
reg.score(X, y)

0.043109072456185116

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor


X = a1a2.drop(columns = ["available_bikes"])
y = a1a2["available_bikes"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.4613269704189917
Mean Squared Error: 0.9628148248700432
Root Mean Squared Error: 0.9812312800099899

In [35]:
joblib_file = "joblib_model.pkl"
joblib.dump(regressor, joblib_file)

['joblib_model.pkl']

In [37]:
joblib_model = joblib.load(joblib_file)

In [38]:
#test out the predicitons of the model
print(joblib_model.predict([[42, 3, 17, 4]]))

[8.]

In [45]:
print(joblib_model.predict([[108, 3, 17, 1]]))

[6.97141082]

In [48]:
# Load the model that you just saved
lr = joblib.load('joblib_model.pkl')

# Saving the data columns from training
model_columns = list(X.columns)
joblib.dump(model_columns, 'model_columns.pkl')
print("Models columns dumped!")

Models columns dumped!

In [51]:
# Dependencies
from flask import Flask, request, jsonify

import traceback
import pandas as pd
import numpy as np

# Your API definition
app = Flask(__name__)

@app.route('/predict', methods=['POST'])
def predict():
    if lr:
        try:
            json_ = request.json
            print(json_)
            query = pd.get_dummies(pd.DataFrame(json_))
            query = query.reindex(columns=model_columns, fill_value=0)

            prediction = list(lr.predict(query))

            return jsonify({'prediction': str(prediction)})

        except:

            return jsonify({'trace': traceback.format_exc()})
    else:
        print ('Train the model first')
        return ('No model here to use')

if __name__ == '__main__':
    try:
        port = int(sys.argv[1]) # This is for a command-line input
    except:
        port = 12345 # If you don't provide any port the port will be set to 12345

    lr = joblib.load("joblib_model.pkl") # Load "model.pkl"
    print ('Model loaded')
    model_columns = joblib.load("model_columns.pkl") # Load "model_columns.pkl"
    print ('Model columns loaded')

    app.run(port=port, debug=True)

Model loaded
Model columns loaded
 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Restarting with windowsapi reloader

SystemExit: 1

C:\Users\conor\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3351: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
with open('model.pkl', 'rb') as handle:
    model = pickle.load(handle)
@route("/predict")
def predict(X_test):
    # now we can call various methods over model as as:
    # Let X_test be the feature for which we want to predict the output     
    result = model.predict(X_test)
    return jsonify(result)

In [52]:
get wd

SyntaxError: invalid syntax (<ipython-input-52-73dd40afd283>, line 1)

In [53]:
 %pwd

'C:\\Users\\conor'